<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria Fantástica</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/pizza.css">
    <link rel="stylesheet" href="/css/form-pizza.css">
</head>

<body>
    
    <form id="form-pizza" method="POST" action="/login">
        <label>
            E-mail:
            <input type="email" name="email" id="email" placeholder="Digite o seu E-mail">
        </label>
        <label>
            Senha:
            <input type="password" name="password" id="password" placeholder="Digite sua senha">
        </label>
        <button type="submit">Entrar</button>
    </form>

</body>